.nav-tabs .nav-link:focus {
  border-color: transparent;
}
.nav-tabs .nav-link {
  border-bottom: 3px solid transparent;
  &:hover {
    border-color: transparent;
    transition: all 0.2s ease;
    opacity: 0.8;
  }
}
.nav-tabs .nav-link.active {
  border-bottom: 3px solid $primary;
}
.bookcase-card-img {
  margin: 0 auto;
  box-shadow: 0 0px 6px #00000014;
  border-radius: 8px;
  object-fit: contain;
  width: 90px;
  height: 120px;
  margin-bottom: 4px;
  @include mobile() {
    width: 113px;
    height: 150px;
    margin-top: 24px;
    margin-bottom: 0;
  }
}
.bookcase-card-active {
  background-color: $primary;
  padding: 4px 12px;
  border-radius: 12px;
  i {
    color: $white;
  }
}
.bookcase-tabs-fixed {
  position: fixed;
  top: 54px;
  left: 0;
  right: 0;
  z-index: 10;
  padding-right: 12px;
  padding-left: 12px;
  @include mobile() {
    position: static;
    padding-right: 0;
    padding-left: 0;
  }
}
.book-num {
  margin-top: 116px;
  @include mobile() {
    margin-top: 12px;
  }
}
.page-link {
  color: $primary;
  background-color: $light;
  &:hover {
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }
}
.offcanvas-rounded-top {
  border-radius: 20px 20px 0 0;
}
