.result-card-link {
  text-decoration: none;
  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}
.result-card-img {
  width: 90px;
  height: 120px;
  @include mobile() {
    width: 153px;
    height: 192px;
  }
}
