body {
  overflow-x: hidden;
}
a:hover {
  transition: all 0.3s ease;
  opacity: 0.9;
}

button:hover {
  transition: all 0.3s ease;
  opacity: 0.9;
}
.b1 {
  border: 1px solid red;
}
.b1-red {
  border: 1px solid green;
}

.lh-0 {
  line-height: 0;
}
.fa-3xl {
  font-size: 36px;
}
.hover-secondary:hover {
  color: $secondary;
}

.rounded-8 {
  border-radius: 8px;
}
.rounded-16 {
  border-radius: 16px;
}
.bg-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.btn-outline-secondary:hover {
  color: $white;
}
.position-md-relative {
  @include mobile() {
    position: relative;
  }
}
.position-md-absolute {
  @include mobile() {
    position: absolute;
  }
}
.fs-12 {
  font-size: 12px !important;
}
.fs-md-44 {
  @include mobile() {
    font-size: 44px !important;
  }
}
.h1-md {
  @include mobile() {
    font-size: $h1-font-size !important;
  }
}
.h2-md {
  @include mobile() {
    font-size: $h2-font-size !important;
  }
}
.h4-md {
  @include mobile() {
    font-size: $h4-font-size !important;
  }
}
.h6-md {
  @include mobile() {
    font-size: $h6-font-size !important;
  }
}

.text-shadow {
  text-shadow: black 0.1em 0.1em 0.2em;
}
.box-shadow {
  box-shadow: 0 2px 10px #00000014;
}
.img-cover {
  object-fit: cover;
}
.cursor-pointer {
  cursor: pointer;
}
.transition-ease {
  transition: all 0.5s ease;
}
.text-decoration-none {
  text-decoration: none;
}
.text-decoration-hover:hover {
  text-decoration: underline !important;
}
.bg-md-white {
  @include mobile() {
    background-color: $white !important;
  }
}
.text-justify {
  text-align: justify;
}
.text-gray {
  color: $gray;
}
